__pycache__/
*.pyc
*.log
.pytest_cache/

report/allure-results/
report/allure-report/
logs/
runtime/
api-test/report/allure-results/
api-test/report/allure-report/
api-test/logs/
api-test/runtime/
.idea/
/tests/
/.claude/
